<h2>Your dashboard</h2>

<div class="ui-helper-clearfix">
  <div class="content-left">
    
    <div class="content">
      <div class="content">
        <h4>Profile Quick Overview</h4><br/>
        <%= current_user.email %>
        <%= current_user.first_name %><br/>
        <%= current_user.last_name %><br/>
        <%= current_user.phone %>
      </div>
      <div class="content">
        Your Ratings Breakdown/Score
      </div>
      <div class="content">
        My Connections - Recently updated<br/><br/>
        <%= link_to "Import and Request Contacts", invite_friends_path %><br/><br/>
        <%= link_to "Import Linkedin contacts", index_path %><br/>
      </div>
      <div class="content">
        Suggested Contacts
      </div>
      <div class="content">
        Recommended Positions [Apply] [Suggest]
      </div>
      <div class="content">
        My Skillz/Keywords [edit] [promote]
        
         <h4><b> Skills </b></h4>
        <table>
        <% @skills.each do |skill| %>
        <tr><td><%= link_to image_tag("remove.gif").html_safe, skill_path(skill), :method => "DELETE" %></td>
          <td>  <%= skill.name %></td><td> <div class='rateable' data-rateit-readonly='1' data-rateit-value="<%= skill.rating %>"></div></td></tr>
        <% end %>
        </table>
        <%= link_to "Add New Skill", mass_input_skills_path %><br/><br/>
        
      </div>
    </div>
  </div>

  <div class="content-right">

    <div class="content">
      <div class="content">
        Search
      </div>
      <div class="content">
        Profile Progress
      </div>
      <div class="content">
        New Messages
      </div>
      <div class="content">
        Profile Meta Stats
      </div>
      <div class="content">
        View Profile
      </div>
      <div class="content">
        Add Position
      </div>
      <div class="content">
        Advertisements?
      </div>
    </div>
  </div>
</div>
