<h2>Your dashboard</h2>
mohan

<div class="ui-helper-clearfix">
  <div class="content-left">
    
    <div class="content">
      <div class="content">
        <h4>Profile Quick Overview</h4><br/>
        <%= current_user.email %>
        <%= current_user.first_name %><br/>
        <%= current_user.last_name %><br/>
        <%= current_user.phone %>
      </div>
      <div class="content">
        Your Ratings Breakdown/Score
      </div>
      <div class="content">
        My Connections - Recently updated<br/><br/>
        <%= link_to "Import and Request Contacts", invite_friends_path %><br/><br/>
        <%= link_to "Import Linkedin contacts", index_path %><br/>
      </div>
      <div class="content">
        Suggested Contacts
      </div>
      <div class="content">
        Recommended Positions [Apply] [Suggest]
      </div>
      <div class="content">
        My Skillz/Keywords [edit] [promote]
        
         <h4><b> Skills </b></h4>
        <table>
        <% @skills.each do |skill| %>
        <tr><td><%= link_to image_tag("remove.gif").html_safe, skill_path(skill), :method => "DELETE" %></td>
          <td>  <%= skill.name %></td><td> <div class='rateable' data-rateit-readonly='1' data-rateit-value="<%= skill.rating %>"></div></td></tr>
        <% end %>
        </table>
        <%= link_to "Add New Skill", mass_input_skills_path %><br/><br/>
        
      </div>
    </div>
  </div>

  <div class="content-right">

    <div class="content">
      <div class="content">
        Search
      </div>
      <div class="content">
        Profile Progress
      </div>
      <div class="content">
        <b>Messages</b>
          <div class="mainDiv">
            <div calss="showDiv">
              <button> Messages</button>
            </div>
            <div class ="slideDiv">
              <div class="messages">
                <%= link_to "Inbox", messages_path %><br/> 
                <%= link_to "Send Message", new_message_path %><br />
                <%= link_to "Sent Messages", sent_messages_path %>
              </div>
            </div>
          </div>
        
      </div>
      <div class="content">
        <b>Profile Status</b><br /><br />
          <% if current_user.status_message == nil %>
            <%= link_to "Add Stats", edit_status_user_path, :remote => true %>
          <% else %>
            <b><%= current_user.status_message %></b><br />
            <%= link_to "Edit Stats", edit_status_user_path, :remote => true %>
          <% end %>
        <div class="editstatus">
        </div>
      </div>
      <div class="content">
        View Profile
      </div>
      <div class="content">
        <b>Position</b><br /><br />
          <% if current_user.position == nil %>
            <%= link_to "Add Poition", edit_position_user_path, :remote => true %>
          <% else %>
            <b><%= current_user.position %></b><br />
            <%= link_to "Edit Position", edit_position_user_path, :remote => true %>
          <% end %>
          <div class="position">
          </div>
      </div>
      <div class="content">
        Advertisements?
      </div>
    </div>
  </div>
</div>
