<h1><b>User ProfilePage </h1></b>

  <%= @user.email %><br/><br/><br/><br/>
  

  <%= image_tag @user.avatar.url %>
  <%= image_tag @user.avatar.url(:medium) %>
  <%= image_tag @user.avatar.url(:thumb) %>

  

  
 <br/><br/><br/><br/><br/><br/><br/><br/> <%= link_to "Edit Profile", create_profile_path %>
  
  

