<h2>Profile</h2>
<div class="ui-helper-clearfix">
  <div class="content-left">
    <div class="content">
    <%= image_tag @user.avatar.url(:thumb) %><br/>
      <%= link_to " Edit Profile", edit_user_path(current_user) %><br/>
      <%= @user.location %><br>
     
      <% @wk.each do |f| %>
        <%= f.company %><br/>
      <% end %>
      
      <div class="content">
        <%= @user.mission_statement %>
      </div>

      <div class="content">
        Shared contacts
      </div>
      
      <div class="content">
        <h3><b>Work history</h3></b>
        <% @work_histories.each do |f| %>
          Job Title: <%= f.title %><br/>
          Company: <%= f.company %><br/>
          Description: <%= f.description %><br/>
          Location: <%= f.location %><br/>
          Start-Date: <%= f.start_date %><br/>
          End-Date: <%= f.end_date %><br/>
          <%= link_to "edit", edit_work_history_path(f) %>
          <%= link_to "Delete", work_history_path(f), :method => "DELETE" %><br/><br/>
        <% end %>
        <%= link_to "Add New Work History", new_work_history_path %><br/><br/>
      </div>
      
      <div class="content">
       <h3><b> Skills </b></h3>
       <% @skills.each do |f| %>
          Skill:<%= f.name %> Rating:<%= f.rating  %><br/>
          <%= link_to "edit", edit_skill_path(f) %>
          <%= link_to "Delete", skill_path(f), :method => "DELETE" %> <br/><br/>
       <% end %><br/>
       <%= link_to "Add New Skill", new_skill_path %><br/><br/>
      </div>
      
      <div class="content">
        Education
      </div>
      
    </div>
  </div>

  <div class="content-right">
    <div class="content">
     Search <form  method="get">
			<input value="" name="s" id="s" />
			<input src="http://img150.imageshack.us/img150/6236/searchbuttonma4.gif" type="submit" alt="SEARCH" id="searchbutton" name="searchbutton"/>
	</form><br/>
     overall rating<br/>
     view portfolio<br/>
     availability<br/>
      recomended for job<br/>
      send messages<br/>
      social media accounts<br/>
      advertisements?
    </div>
  </div>
</div>
