<h2>Profile</h2>
<div class="ui-helper-clearfix">
  <div class="content-left">
    <div class="content">
    <%= image_tag @user.avatar.url(:thumb) %><br/>
      <%= link_to " Edit Profile", edit_user_path(current_user) %><br/>
      <%= @user.location %><br>

      <% @wk.each do |f| %>
        <%= f.company %><br/>
      <% end %>

      <div class="content">
        <%= @user.mission_statement %>
      </div>

      <div class="content">
        Shared contacts
      </div>

      <div class="content">
        <h4><b>Work history</b></br></h4>
        <% @work_histories.each do |f| %>
          Job Title: <%= f.title %><br/>
          Company: <%= f.company %><br/>
          Description: <%= f.description %><br/>
          Location: <%= f.location %><br/>
          Start-Date: <%= f.start_date %><br/>
          End-Date: <%= f.end_date %><br/>
          <%= link_to "edit", edit_work_history_path(f) %>
          <%= link_to "Delete", work_history_path(f), :method => "DELETE" %><br/><br/>
        <% end %>
        <%= link_to "Add New Work History", new_work_history_path %><br/><br/>
      </div>


      <div class="content">
        <h4><b> Skills </b></h4>
        <table>
        <% @skills.each do |skill| %>
        <tr><td><%= link_to image_tag("remove.gif").html_safe, skill_path(skill), :method => "DELETE" %></td>
          <td>  <%= skill.name %></td><td> <div class='rateable' data-rateit-readonly='1' data-rateit-value="<%= skill.rating %>"></div></td></tr>
        <% end %>
        </table>
        <%= link_to "Add New Skill", mass_input_skills_path %><br/><br/>
      </div>

      <div class="content">
        <h4><b> Education </b></h4>
        <% @edu.each do |education| %>
          <td><%= link_to image_tag("remove.gif").html_safe, education_path(education), :method => "DELETE" %></td>
          <%= education.qualification %><br/>
        <% end %>
        <%= link_to "Add New education", mass_input_educations_path %><br/><br/>
      </div>

    </div>
  </div>

  <div class="content-right">
    <div class="content">
     Search <form  method="get">
			<input value="" name="s" id="s" />
			<input src="http://img150.imageshack.us/img150/6236/searchbuttonma4.gif" type="submit" alt="SEARCH" id="searchbutton" name="searchbutton"/>
	</form><br/>
     overall rating<br/>
     view portfolio<br/>
     availability<br/>
      recomended for job<br/>
      send messages<br/>
      social media accounts<br/>
      advertisements?
    </div>
  </div>
</div>
