<!DOCTYPE html>
<html>
  <head>
    <title>TechCredentials</title>
    <%= render :partial => "layouts/stylesheet_includes" %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div id="header">
      <div class="wrapper ui-helper-clearfix">
        <%= render :partial => "layouts/header" %>
      </div>
    </div>

    <div id="content">
      <div class="wrapper">
        <div id="flash">
          <%= render :partial => "layouts/flash" %>
        </div>
        
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <div class="wrapper">
        <%= render :partial => "layouts/footer" %>
      </div>
    </div>
    
    <div id="javascript-includes" style="display: none;">
      <%= render :partial => "layouts/javascript_includes" %>
    </div>
  </body>
</html>
